.userinfo {
  &.is_post {
    display: flex;
    align-items: center;
  }
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.nickname {}
.id {}