.bottom_menu {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  border-top: 1px solid #ccc;
  background: white;
  z-index: 10;
  ul {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
  }
  li {
    width: 100%;
    height: 100%;
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}