.articles {
  .content {
    @include dotdotdot();
    max-width: 100%;
  }

  .img {
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    gap: 0 6px;
    img {
      flex: 0 0 auto;
      width: 100px;
      height: 100px;
    }
  }

  .locate {
    margin-top: 10px;
    padding: 6px 8px;
    border-radius: 8px;
    background: #ededed;
  }

  .etc {
    margin-top: 10px;
    display: flex;
    align-items: self-end;
    gap: 10px;

    span {
      display: flex;
      gap: 4px;
    }
  }
}