.main {
  display: flex;
  justify-content: center;
}

.mobile-view {
  position: relative;
  min-height: 100vh;
  max-width: 430px;
  width: 100%;
  > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    > div:first-child {
      background: #ccc;
      flex: 1 1 auto;
      overflow-y: auto;
    }
  }
}
