.main {
  display: flex;
  justify-content: center;
}

.mobile-view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
  min-height: 100vh;
  max-width: 430px;
  width: 100%;
}
